@import "./variables.scss";
@import "./mixins.scss";

.content {
  background: $bmr-background-color;
  @include content-base;
}

.paper {
  padding: 10px;
}

.title {
  color: $title-color;
  font-weight: 900;
  padding: 15px;
}

.accountId {
  margin: 0; 
  padding: 5px;
}

.calculateBtn {
  cursor: pointer;
}

.animatedNumber {
  margin: 10px; 
  font-size: 25px; 
  font-weight: bold;
  transition: 0.9s ease-out; 
  transition-property: background-color, color, opacity;
}