@import "./variables.scss";
@import "./mixins.scss";

.content {
  background: $bmr-background-color;
  @include content-base;
}

.paper {
  padding: 10px;
}

.title {
  color: $title-color;
  font-weight: 900;
  padding: 15px;
}

.accountId {
  margin: 0; 
  padding: 5px;
}