@import "./variables.scss";
@import "./mixins.scss";

.login {
  @include content-base;
  @include background-image-settings;
  &__item {
    width: 100%;
    margin: auto;
  }
  &__title {
    color: white;
  }
}