@mixin content-base {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@mixin background-image-settings {
  background-image: url('../img/LoginSignUp/background-menu.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin errorMessage-margin($margin) {
  margin-bottom: $margin;
}