@import "./variables.scss";
@import "./mixins.scss";

.passwordReset {
  @include content-base;
  @include background-image-settings;
  &__title {
    padding: 15px;
  }
  &__form {
    width: 100%; 
    margin: auto;
    padding: 20px; 
    text-align: $text-align-center;
    &_errorMessage {
      margin-bottom: 15px;
    }
    &_area {
      background: white;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: auto;
      opacity: 0.9;
    }
    &_sendBtn {
      cursor: pointer;
    }
  }
  &__backBtn {
    width: 100%; 
    margin: auto; 
    text-align: $text-align-center; padding: 10px;
    &_link {
      text-decoration: none;
    }
  }
}